
$logo-width: 14rem;
$logo-height: calc($logo-width * $logo-pro);

.nav {
    $bar-height: 3px;
    $bar-transition: 0.5s;
    $bar-width: 26px;
    $nav-height: 77px;
    $content-margin: responsive-property(xxsmall, content-margin);
    $toggle-padding: 30px;
    $toggle-size: 17px;

    background-color: $color-cp-orange;
    color: #fff;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 3.2rem;
    height: $nav-height;
    position: relative;
    text-transform: uppercase;
    z-index: 100;

    a {
        color: #fff;
        text-decoration: none;
    }

    &__elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 $content-margin;

        &__nav__element {
            display: block;
        }
    }

    &__home {
        order: 1;

        &-link {
            background-image: url("../img/creativepulse_logo.svg");
            background-size: cover;
            box-sizing: border-box;
            display: block;
            height: $logo-height;
            width: $logo-width;
            margin-top: calc(($nav-height - $logo-height) / 2);
        }
    }

    &__submenu {
        order: 0;

        &-toggle {
            height: $toggle-size;
            padding: 30px 10px 14px 0;
            top: 0;
            width: $toggle-size;

            &-bar {
                background-color: rgba(255, 255, 255, 1);
                border-radius: 0;
                border: none;
                height: $bar-height;
                padding: 0;
                position: absolute;
                transition: $bar-transition;
                width: $bar-width;

                &:before {
                    top: -8px;

                    .nav-active & {
                        transform: rotate(45deg);
                    }
                }

                &:after {
                    top: 8px;

                    .nav-active & {
                        transform: rotate(135deg);
                    }
                }

                &:before,
                &:after {
                    content: "";
                    background-color: $color-white;
                    height: $bar-height;
                    left: 0;
                    position: absolute;
                    transition: $bar-transition;
                    width: $bar-width;

                    .nav-active & {
                        top: 0;
                    }
                }

                .nav-active & {
                    background-color: rgba(255, 255, 255, 0);
                }

            }

        }

        &-entries {
            $submenu-entries-width: 100vw;
            background-color: $color-cp-orange;
            height: 100vh;
            left: calc($submenu-entries-width * -1);
            position: absolute;
            right: 0;
            top: 4.3rem;
            width: $submenu-entries-width;
            transition: all 0.5s ease;

            .resizing & {
                transition: none;
            }

            .nav-active & {
                left: 0;
            }

            &-list {
                margin: 0.8rem 0 0 calc(100vw - ($logo-width + $content-margin));

                &-tel {
                    font-weight: 500;
            
                    .nav__tel-txt {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    @media (min-width: 486px) {
        &__home {
            flex: 1;
            position: relative;

            &-link {
                margin-left: calc(50% - 0.9rem);
            }
        }

        &__submenu-entries-list {
            margin-left: 50vw; 
        }
    }

    @include media-width(min-width, smallish) {

        $content-margin: responsive-property(smallish, content-margin);

        &__home-link {
            margin-left: 50%;;
        }

        .nav-active &:before {
            opacity: 0;
            pointer-events: all;
        }

        &__elements {
            margin: 0 $content-margin;
            position: relative;
            width: responsive-property(smallish, content-width);
        }

        &__submenu {

            &-toggle {
                display: none;
            }

            &-entries {
                background-color: transparent;
                height: $nav-height;
                left: 0;
                top: 0;
                width: auto;
                transition: none;

                &-list {
                    display: flex;
                    margin: 0;
                    padding-top: 13px;

                    &-link {
                        padding-right: 2vw;
                    }

                    &-tel .nav__tel-txt {
                        display: none;
                    }
                }
            }
        }
    }

    @include media-width(min-width, medium) {
        &__submenu-entries-list-link {
            padding-right: 3.5vw;
        }    
    }

    @include media-width(min-width, largish) {
        &__submenu-entries {
            &-list {
                &-link {
                    padding-right: 0;

                    &:first-child {
                        padding-right: 3.44rem;    
                    }
                }

                &-tel {
                    margin-left: auto;
                }
            }

        }
    }

    @include media-width(min-width, large) {
        &__submenu-entries-list-tel .nav__tel-txt {
            display: inline;
        }
    }

    @include media-width(min-width, super-large) {

        $content-margin: responsive-property(super-large, content-margin);

        &__elements {
            margin: 0 $content-margin;
            width: responsive-property(super-large, content-width);
        }

        &__submenu-entries {
            width: calc(100vw - ($content-margin * 2));
        }
    }
}

// uber-large has title panel scrolling rather than gallery images    
@include media-width(min-width, uber-large) {

    .nav {
        position: sticky;
        top: 0;
    }
}