$breakpoint-xsmall: 320px;
$breakpoint-small: 500px;
$breakpoint-smallish: 650px;
$breakpoint-medium: 750px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1100px;
$breakpoint-super-large: 1200px;
$breakpoint-mega-large: 1300px;

@mixin media-width($screen-width, $breakpoint) {
    @if ($breakpoint ==xsmall) {
        @media ($screen-width: $breakpoint-xsmall) {
            @content;
        }
    }

    @else if ($breakpoint ==small) {
        @media ($screen-width: $breakpoint-small) {
            @content;
        }
    }

    @else if ($breakpoint ==smallish) {
        @media ($screen-width: $breakpoint-smallish) {
            @content;
        }
    }

    @else if ($breakpoint ==medium) {
        @media ($screen-width: $breakpoint-medium) {
            @content;
        }
    }

    @else if ($breakpoint ==large) {
        @media ($screen-width: $breakpoint-large) {
            @content;
        }
    }

    @else if ($breakpoint ==xlarge) {
        @media ($screen-width: $breakpoint-extra-large) {
            @content;
        }
    }

    @else if ($breakpoint ==xxlarge) {
        @media ($screen-width: $breakpoint-super-large) {
            @content;
        }
    }

    @else if ($breakpoint ==xxxlarge) {
        @media ($screen-width: $breakpoint-mega-large) {
            @content;
        }
    }

    @else {
        @error "Definition missing for breakpoint: #{$breakpoint}";
    }
}

// Mixin for use within media queries
@mixin screen-reader-text {
    border:0;   
    clip: rect(1px, 1px, 1px, 1px); 
    clip-path: inset(50%);
    height: 1px; 
    margin: -1px;
    width: 1px; 
    overflow: hidden; 
    position: absolute !important;
    word-wrap:normal !important;
}

// Placeholder for use elsewhere
%screen-reader-text { 
    @include screen-reader-text;
}

%icon {
    font-family: 'Linea Arrows';
    color: $color-gray;
}

%full-width-flex {
    display: flex;
    width: 100%;
}