.project {    
    &-header {
        &.component {
            background-color: $color-white;
            margin-top: 1rem;
        }
        
        .overview {
            margin-top: -2rem;
        }

        .display #headline {
            @include main-heading;
        }
        
        .component-content {
            column-gap: 0;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 0;

            .head--client {
                font-size: 1.1875rem;
                font-weight: 900;
                margin-bottom: -0.5rem;
            }

            .overview {
                order: 1;
            }

            .display {
                order: 2;
            }

            .hero {
                $margin-adjustment: calc( responsive-property(xxsmall, text-margin) * -1 );
                margin: 0 $margin-adjustment -0.6rem;
                order: 3;
                overflow: hidden;

                &-image {
                    margin-left: -50vw;
                    width: 200vw;
                }
            }
        }        
    }
    
    .carousel {
        margin: $component-gap-small 0;
    }

    @media (min-width: page-width(small)) {
        .component-content {
            .overview {
                flex: calc( 50% - 2rem );
                margin: -1.25rem 0 0;
                padding-right: $column-gap;

                .scope {
                    max-width: 30ch;
                }
            }
            .display {
                flex: 50%;
                margin-top: -2rem;
            }

            .hero {
                margin: 0 -10vw;
            }
        }
    }

    @include media-width(min-width, smallish) {
        .component {
            position: relative;

            &.project-header { 
                /* background-color applied in /dist/css/custom/<project-name>.css */
                margin-top: 0;
                
                .component-content {
                    box-sizing: border-box;
                    padding: $component-gap-small 0 0;
                    background-color: $color-white;
                    border-top: 1.25rem solid $color-white;
                    
                    .overview {
                        flex: auto;
                        margin: 0;
                        width: calc(50% - 2rem);
                    }

                    .display {
                        flex: 50%;
                        margin: -0.75rem 0 0;
                    }

                    .hero {
                        margin: 0 -10vw;

                        &-image {
                            margin-left: 0;
                            width: 100%;

                        }
                    }    
                }
            }            
        }
    }        

    @include media-width(min-width, medium) {
        &-header {
            margin-top: 3rem;

            .component-content {
                .overview {
                    .head--client {
                        font-size: 1.375rem;
                        line-height: 1.9375rem;
                    }
                }
                
                .display {
                    margin-top: -2rem;
                }
            }
        }
    }

    @include media-width(min-width, large) {
        .component {
            &.project-header {
                margin: 0 10vw 0;
                
                .component-content {
                    margin: 0;
                    padding: $component-gap-small 0 0;

                    .display {
                        flex: calc(50% - 7.51rem);
                        padding-right: 7.51rem;
                    }

                    .overview {
                        margin-left: 7.51rem;
                        flex: calc(50% - 9.51rem);
                    }

                    .hero {
                        margin: 0;
                    }
                }
            }
        }
    }

    @include media-width(min-width, extra-large) {
        .component.project-header .component-content .overview {
            margin-top: 0.2rem;

            .head--client {
                font-size: 1.5625rem;
                line-height: 2.1875rem;
            }
        }
    }

    @include media-width(min-width, super-large) {
        .component.project-header {
            margin: 0 auto;
            width: responsive-property(super-large, content-width);

            .component-content {
                .display {
                    flex: calc(50% - 12.5rem);
                    padding-right: 12.5rem;
                }

                .overview {
                    flex: calc(50% - 14.5rem);
                    margin-left: 12.5rem;
                }
            }
        }
    }
}