$color-cp-orange: #f47832;
$color-gray: #8e8e8e;
$color-gray-1: #6a6a6a;
$color-off-white: #f2f2f2;
$color-faint: #E3E3E3;
$color-white: #fff;

$logo-size: 51px;
$nav-height: 77px;
$component-gap: 31px;