@import
"./variables",
"./helpers",
"./reset.scss",
"./fonts.scss",
"../components/nav/nav",
"../components/footer/footer",
"../components/sticky-title/sticky-title",
"../components/gallery/gallery",
"../components/carousel/carousel";


.playfair {
    font-family: 'Playfair Display';  
    font-weight: 900;  
}

.raleway {
    font-family: 'Raleway';
    font-weight: 800;
}

body {
    font-family: "Raleway";
    font-weight: 400;

    &.home {
        background-color: $color-cp-orange;
    }
}

h1 {
    font-size: 2.125rem;
    font-family: 'Playfair Display';  
    font-weight: 700;
    line-height: 2.59rem;
}

p { 
    $v-spacing: 1.625rem;
    font-size: 0.875rem;
    line-height: 1.625rem;
    margin: 0.75rem 0;
}

form .form-label.form-label--hidden {
    @extend %screen-reader-text;
}

button .button__text.button__text--hidden {
    font-size: 0;
}

.content-sticky-wrapper {    
    $block-size: 16.66vw;
    
    @include media-width(min-width, uber-large) {
        margin-top: calc( ( $block-size * -2) - 77px);

        .content {
            position: sticky;
            margin-top: calc( $block-size + 77px);
            top: calc( ( $block-size * 2) + 77px);
        }
    }
}

.component {

    @include component-width(xsmall);

    @include media-width(min-width, smallish) {
        @include component-width(smallish);
    }

    @include media-width(min-width, super-large) {
         @include component-width(super-large);
    }

}

@include media-width(min-width, small) {
    h1 {
        font-size: 2.8125rem;
        line-height: 3.4375rem;
    }
}
