.title--sticky {
        &.component {
            background-color: transparent;
        }
        
        height: 400vw;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 2;
}

@include media-width(min-width, xsmall) {
    .title--sticky {
        height: 350vw;
    }
}

@include media-width(min-width, medium) {
    .title--sticky {
        $block-size: 33.33vw;
        height: 100vw;
        
        &__block {
            margin-left: $block-size;
        }
    }
}

@include media-width(min-width, super-large) {
    .title--sticky {
        height: 75vw;
    }
}

@include media-width(min-width, uber-large) {
    .title--sticky {
        height: 33.33vw;
    }     
}