$title-y: 77px;

.title {
    &__block {
        $padding: responsive-property(xxsmall, content-margin);

        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $padding;
        top: calc(50vw + $title-y );

        &-content {
            text-align: center;

            h1 {
                font-size: 12vw;
                line-height: 15vw;
            }
        }
    }
    
    @include media-width(min-width, xsmall) {
        &__block {
            &-content {
                margin-top: 0;

                h1 {
                    font-size: 3.75rem;
                    line-height: 4.69rem;
                }
            }
        }
    }

    @include media-width(min-width, smallish) {
        &__block {
            padding: responsive-property(smallish, content-margin);
        }
    }

    @include media-width(min-width, medium) {
        $block-size: 33.33vw;

        &__block {
            padding: responsive-property(medium, content-margin);
            top: calc($block-size + $title-y );
        }
    }

    // Custom breakpoint
    @media (min-width: 870px) {
        .intro {
            margin: 0.75rem auto;
            max-width: 45rem;

            .intro--no-wrap {
                display: inline-block;
            }
        }
    }

    @include media-width(min-width, super-large) {
        $block-size: 25vw;

        &__block {
            padding: 10vw;
            top: calc($block-size + $title-y );
        }
    }
}