@mixin responsive-block($block_size, $description-margin) {
        flex: 0 1 $block_size;
        height: $block_size;

        &.gallery__info--active {
            $info_size: calc( ( $block_size * 2 ) - ( $description-margin * 2 ));
            width: $info_size;
            height: $info_size;
            margin: $description-margin;
        }
}

.gallery {
    $description-margin: 5px;

    width: 100vw;
    margin-bottom: 300vh;

    &__blocks {
        $width: 100vw;
        display: flex;
        flex-wrap: wrap;        
    }

    &__block {
        background-color: rgb(171, 171, 171);
        height: 50vw;
        flex: 0 1 50vw;

        &:nth-child(odd) {
            background-color: rgb(219, 194, 86);
        }

        &:nth-child(3n) {
            background-color: rgb(73, 141, 118);
        }

        .gallery__info {
            background-color: $color-cp-orange;
            box-sizing: border-box;
            position: relative;
            @extend %screen-reader-text;

            &.gallery__info--active {
                clip-path: inset(0%);
                width: calc( 100vw - ( $description-margin * 2 ));
                height: calc( 50vw - ( $description-margin * 2 ));
                margin: $description-margin;
            }

            &-description {
                color: #fff;
                font-family: 'Playfair Display';
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.625rem;
                padding: 60px 50px 16px;
                text-align: center;
            }

            &-bttn {
                bottom: 20px;
                display: block;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
    
                .button__text {
                    text-transform: uppercase;
                }
            }
        }
        
        &:nth-child(even) .gallery__info.gallery__info--active {
            left: 0;
        }

        @include media-width(min-width, medium) {
            @include responsive-block(33.33vw, $description-margin);
        }

        @include media-width(min-width, super-large) {
            @include responsive-block(25vw, $description-margin);
        }
    }
}
