<link rel="apple-touch-icon" sizes="180x180" href="/site/templates/img/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/site/templates/img/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/site/templates/img/favicon-16x16.png?v=1">
<link rel="manifest" href="/site/templates/img/site.webmanifest?v=1">
<link rel="mask-icon" href="/site/templates/img/safari-pinned-tab.svg?v=1" color="#5bbad5">
<link rel="shortcut icon" href="/site/templates/img/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/site/templates/img/browserconfig.xml?v=1">
<meta name="theme-color" content="#ffffff">