.testimonial {
    .component-content {
        padding-bottom: 2.5rem;
        text-align: center;

        .subheading {
            @include heading-medium;
        }

        .detail {
            .text p:first-child {
                margin-top: 0;
            }

            .attribution_name {
                font-size: 1.15rem;
            }

            .attribution_role {
                margin-top: -0.75rem;
            }
        }

        @include media-width(min-width, small) {
            display: flex;
            text-align: left;

            .subheading {
                flex: auto;
                width: calc(50% - 2rem);
            }

            .detail {
                flex: 50%;
            }
        }
    }
}