.carousel {
  
  overflow: hidden;

  .carousel-slider {
    position: relative;
    width: max-content;
    display: flex;
    margin-left: -70vw;
    transition: transform 0.5s ease;
  }
  
  .carousel-slider__set {
    display: flex;
    overflow: auto;
    width: max-content;
  }
  
  .carousel-slide {
    box-sizing: border-box;
    width: 80vw;
    padding: 0 5vw;
  }
  
  .carousel-slide img {
    width: 100%;
  }

  @include min-width(medium) {

    .carousel-slide {
      width: 50vw;
      padding: 0 10vw;
    }
  
    .carousel-slider {
      margin-left: slide-margin(50vw, 10vw);
    }
  
  }
  
}

.indicators {

  @extend %full-width-flex;

  justify-content: center;

  .indicator {
    width: 10px;
    height: 10px;
    background-color: #9f9f9f;
    border-radius: 5px;
    border-width: 0;
    padding: 0;
    margin: 0.5rem;

    &.indicator--active {
      background-color: #464646;
    }
  }
}

.directions {

  @extend %full-width-flex;

  justify-content: space-around;
  position: relative;
  top: -10rem;

}