@mixin slide-responsive($applied-width, $slide-gutter) {
    box-sizing: border-box;
    margin: 0 calc($slide-gutter / 2);
    width: $applied-width;
}

@function slider-margin($applied-width, $slide-gutter) {
    $slide-plus-gutter: calc($applied-width + $slide-gutter );
    // Visible portion of peripheral slides
    @return calc(((100vw - $slide-plus-gutter ) / 2) - $slide-plus-gutter );
}

@function bttn-outer-margin($applied-width, $bttn-width, $slide-gutter) {
    @return calc((( 100vw - $applied-width ) / 2 ) -  ( ( $slide-gutter + $bttn-width ) / 2 ));
}

%carousel-icon {
    @extend %bttn-icon;
    color: $color-gray;
    margin-left: -5px;
    margin-top: 3px;
    font-size: 3rem;
}

.carousel {
    $slide-width: 90vw;
    $max-width: 490px;
    $applied-width: min($slide-width, $max-width);
    $slide-gutter: 75px;
    $bttn-width: 58px;

    overflow: hidden;
    padding-bottom: 4rem;
    position: relative;

    &-slider {
        display: flex;
        margin-left: slider-margin($applied-width, $slide-gutter);
        position: relative;
        transition: transform 0.5s ease;
        width: max-content;

        &__set {
            display: flex;
            overflow: auto;
            width: max-content;
        }
    }

    &-slide {
        @include slide-responsive($applied-width, $slide-gutter);
        max-width: 890px;

        img {
            width: 100%;
        }
    }
    
    &-controls {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        position: absolute;
        top: -1rem;
        width: 100%;
        
        .carousel__bttn {
          $outer-margin: bttn-outer-margin($applied-width, $bttn-width, $slide-gutter);
          background-color: transparent;
          border-radius: 100%; 
          border: 1px solid $color-gray;
          height: 58px;
          margin-top: -2.2rem;
          width: 58px;
          
          &--prev {
            margin-left: $outer-margin;
            
            &::before {
                position: relative;
                top: -0.3rem;
                @extend %carousel-icon;
                content: "\e902";
            }        
          }
      
          &--next {
            margin-right: $outer-margin;
            
            &::before {
                position: relative;
                top: -0.3rem;
                left: 0.1rem;
                @extend %carousel-icon;
                content: "\e903";
                margin-left: 0px;
            }
          }
        }

        .indicators {
            $indicator-size: 10px;
            $indicator-margin: $indicator-size * 0.8;
        
            @extend %full-width-flex;
            justify-content: center;
            position: absolute;
          
            .indicator {
              background-color: #9f9f9f;
              border-radius: 5px;
              border-width: 0;
              height: $indicator-size;
              margin: $indicator-margin;
              padding: 0;
              width: $indicator-size;
          
              &--active {
                background-color: #464646;
              }
          
              &__text {
                @extend %screen-reader-text;
              }
            }
        }

        .directions {
            @extend %full-width-flex;
            align-self: center;
            justify-content: space-between;
            position: absolute;

            .resizing & {
                opacity: 0;
            }
            transition: opacity 0.2s ease;
        }
    }

    @include media-width(max-width, smallish) {
        &-controls .carousel__bttn {
                @include screen-reader-text;            
        }        
    }
    
    @include media-width(min-width, medium) {
        $max-width: 600px;
        $applied-width: min($slide-width, $max-width);
    
        &-slide {
            @include slide-responsive($applied-width, $slide-gutter);
        }
    
        &-slider {
            margin-left: slider-margin($applied-width, $slide-gutter);
        }

        &-controls {
            .carousel__bttn {
                $outer-margin: bttn-outer-margin($applied-width, $bttn-width, $slide-gutter);
            
                &--prev {
                    margin-left: $outer-margin;      
                }
            
                &--next {
                    margin-right: $outer-margin;
                }
                
            }

            .directions {
                align-self: center;
            }
        }
    }

    @include media-width(min-width, large) {
        $max-width: 770px;
        $applied-width: min($slide-width, $max-width);
        $slide-gutter: 110px;
    
        &-slide {
            @include slide-responsive($applied-width, $slide-gutter);
        }
    
        &-slider {
            margin-left: slider-margin($applied-width, $slide-gutter);
        }

        &-controls {
            .carousel__bttn {
                $outer-margin: bttn-outer-margin($applied-width, $bttn-width, $slide-gutter);

                &--prev {
                    margin-left: $outer-margin;      
                }
            
                &--next {
                    margin-right: $outer-margin;
                }
            }
        }
    }

    @include media-width(min-width, super-large) {
        $max-width: 800px;
        $applied-width: min($slide-width, $max-width);
    
        &-slide {
            @include slide-responsive($applied-width, $slide-gutter);
        }
    
        &-slider {
            margin-left: slider-margin($applied-width, $slide-gutter);
        }

        &-controls {
            .carousel__bttn {
                $outer-margin: bttn-outer-margin($applied-width, $bttn-width, $slide-gutter);

                &--prev {
                    margin-left: $outer-margin;      
                }
            
                &--next {
                    margin-right: $outer-margin;
                }
            }
        }
    }    
}